.sales-summary-text {
    padding: 40px 0 0 15px;
    margin-bottom: 50px;
}

.sales-summary-text h3 {
    color: var(--blue-color);
    font-size: 36px;
}

.sales-summary-text p {
    color: var(--light-grey-color);
    font-size: 18px;
}

@media(min-width: 576px) {
    .sales-summary-text {
        padding: 40px 0 0 40px;
    }
}